
        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }


        table,
        td,
        th {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
            width: 80%;
        }

        tr:nth-child(odd) {
            background-color: #f2f2f2;
        }

        th {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
        }

        td {
            padding: 8px;
            text-align: center;
            width: 12.5%;
        }
